@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My First Web Page in VS 2022</h1>    
    <h2 class="display-4">This website is for testing purposes</h2>
</div>
